homepage:
  image:
    tag: v1.0.0
  enableRbac: true
  serviceAccount:
    create: true
    name: homepage
  ingress:
    main:
      enabled: true
      ingressClassName: tailscale
      annotations:
        tailscale.com/proxy-group: ingress-proxies
      hosts:
        - host: &host home.west-beta.ts.net
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - *host
  config:
    bookmarks:
      - Homelab:
          - Documentation:
              - href: https://homelab2.e-whisper.com
                icon: google-docs.svg
          - Public homelab repository:
              - href: https://github.com/east4ming/homelab2
                icon: github.svg
      - Managed services:
          - Tailscale:
              - href: https://login.tailscale.com/admin/machines
                icon: tailscale.svg
          - Cloudflare:
              - href: https://dash.cloudflare.com
                icon: cloudflare.svg
          - Terraform Cloud:
              - href: https://app.terraform.io
                icon: terraform.svg
      - Infrastructure:
          - Modem:
              - href: https://192.168.2.1
                icon: huawei.svg
          - Router:
              - href: https://192.168.3.1
                icon: router.svg
          - Crash:
              - href: http://192.168.3.1:9090/ui/yacd/
                icon: clash.png
          - Switch:
              - href: http://192.168.3.254/
                icon: unifi.svg
          - NAS:
              - href: https://nas.west-beta.ts.net:5001
                icon: qnap-alt.svg
    services:
      - Popular:
          - Jellyfin:
              href: https://jellyfin.west-beta.ts.net
              description: Media system (movies, music, etc.)
              icon: jellyfin.svg
          - Paperless:
              href: https://paperless.west-beta.ts.net
              description: Document management system
              icon: paperless.svg
          - TTRss:
              href: https://ttrss.west-beta.ts.net
              description: RSS reader
              icon: tinytinyrss.png
      - Management:
          - Transmission:
              href: https://transmission.west-beta.ts.net
              description: Bittorrent client
              icon: transmission.svg
          - Kanidm:
              href: https://auth.west-beta.ts.net
              description: Identity management
              icon: https://auth.west-beta.ts.net/pkg/img/logo-square.svg
          - RustFS:
              href: https://rustfs.west-beta.ts.net
              description: An open-source, S3-compatible high-performance object storage system.
              icon: https://docs.rustfs.com/images/logo.svg
      - Development:
          - Gitea:
              href: https://git.west-beta.ts.net
              description: Git forge
              icon: gitea.svg
          - Woodpecker:
              href: https://ci.west-beta.ts.net
              description: Continuous integration
              icon: woodpecker-ci.svg
          - ArgoCD:
              href: https://argocd.west-beta.ts.net
              description: Continuous deployment
              icon: argocd.svg
          - Grafana:
              href: https://grafana.west-beta.ts.net
              description: Observability dashboards
              icon: grafana.svg
      - Utilities:
          - Excalidraw:
              href: https://draw.west-beta.ts.net
              description: Virtual whiteboard
              icon: excalidraw.svg
          - Speedtest:
              href: https://speedtest.west-beta.ts.net
              description: Internal network speed test
              icon: openspeedtest.png
          - LobeChat:
              href: https://lobe.west-beta.ts.net
              description: An open-source, modern-design AI chat framework. Supports Multi AI Providers
              icon: https://registry.npmmirror.com/@lobehub/icons-static-png/latest/files/light/lobehub-color.png
          - UpSnap:
              href: https://upsnap.west-beta.ts.net
              description: A simple wake on lan web app.
              icon: upsnap.svg
      - Ops:
          - Hubble:
              href: https://hubble.west-beta.ts.net
              description: Cilium network observer
              icon: cilium.svg
          - Rook:
              href: https://rook-ceph-dashboard.west-beta.ts.net
              description: Storage manager
              icon: rook.svg
          - Prometheus:
              href: https://prometheus.west-beta.ts.net
              description: Cloud native metrics
              icon: prometheus.svg
          - AlertManager:
              href: https://alertmanager.west-beta.ts.net
              description: Alert manager
              icon: alertmanager.svg
          - KubeExplorer:
              href: https://kube-explorer.west-beta.ts.net
              description: CNRancher K8s Dashboard
              icon: rancher.svg
          - HelmDashboard:
              href: https://helm-dashboard.west-beta.ts.net
              description: Helm dashboard
              icon: helm.svg
          - Semaphore:
              href: https://semaphore.west-beta.ts.net
              description: UI for Ansible/Terraform
              icon: semaphore.svg
    widgets:
      - search:
          provider: google
          target: _blank
      - kubernetes:
          cluster:
            show: true
            cpu: true
            memory: true
            showLabel: true
            label: "cluster"
          nodes:
            show: true
            cpu: true
            memory: true
            showLabel: true
    kubernetes:
      mode: cluster
    settings:
      background: https://images.unsplash.com/photo-1502790671504-542ad42d5189?auto=format&fit=crop&w=2560&q=80
      cardBlur: md
      theme: dark
      headerStyle: boxed
      hideVersion: true
      fiveColumns: true
  env:
    HOMEPAGE_ALLOWED_HOSTS: home.west-beta.ts.net
  resources:
    requests:
      cpu: 32m
      memory: 157Mi
    limits:
      memory: 157Mi
