# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.2.0/charts/other/app-template/values.schema.json
app-template:
  defaultPodOptions:
    enableServiceLinks: true
  controllers:
    main:
      containers:
        main:
          image:
            repository: ghcr.io/gethomepage/homepage
            tag: v0.9.13
  service:
    main:
      controller: main
      ports:
        http:
          port: 3000
          protocol: HTTP
  ingress:
    main:
      enabled: true
      className: tailscale
      hosts:
        - host: &host home.west-beta.ts.net
          paths:
            - path: /
              pathType: Prefix
              service:
                name: main
                port: http
      tls:
        - hosts:
            - *host
  persistence:
    config:
      enabled: true
      type: configMap
      name: homepage-config
      globalMounts:
        - path: /app/config/settings.yaml
          subPath: settings.yaml
        - path: /app/config/widgets.yaml
          subPath: widgets.yaml
        - path: /app/config/services.yaml
          subPath: services.yaml
        - path: /app/config/bookmarks.yaml
          subPath: bookmarks.yaml
  configMaps:
    config:
      enabled: true
      data:
        settings.yaml: |
          background: https://images.unsplash.com/photo-1502790671504-542ad42d5189?auto=format&fit=crop&w=2560&q=80
          cardBlur: md
          theme: dark
          headerStyle: boxed
          hideVersion: true
        widgets.yaml: |
          - search:
              provider: google
              target: _blank
        services.yaml: |
          - Popular:
            - Matrix:
                href: https://chat.west-beta.ts.net
                description: Chat client
                icon: element.svg
            - Jellyfin:
                href: https://jellyfin.west-beta.ts.net
                description: Media system (movies, music, etc.)
                icon: jellyfin.svg
            - Jellyseerr:
                href: https://jellyseerr.west-beta.ts.net
                description: Request media
                icon: jellyseerr.svg
            - Paperless:
                href: https://paperless.west-beta.ts.net
                description: Document management system
                icon: paperless.svg
          - Management:
            - Transmission:
                href: https://transmission.west-beta.ts.net
                description: Bittorrent client
                icon: transmission.svg
            - Prowlarr:
                href: https://prowlarr.west-beta.ts.net
                description: Indexer manager
                icon: prowlarr.svg
            - Radarr:
                href: https://radarr.west-beta.ts.net
                description: Movie manager
                icon: radarr.svg
            - Sonarr:
                href: https://sonarr.west-beta.ts.net
                description: TV show manager
                icon: sonarr.svg
            - Kanidm:
                href: https://auth.west-beta.ts.net
                description: Identity management
                icon: https://auth.west-beta.ts.net/pkg/img/logo-square.svg
          - Development:
            - Gitea:
                href: https://git.west-beta.ts.net
                description: Git forge
                icon: gitea.svg
            - Woodpecker:
                href: https://ci.west-beta.ts.net
                description: Continuous integration
                icon: woodpecker-ci.svg
            - ArgoCD:
                href: https://argocd.west-beta.ts.net
                description: Continuous deployment
                icon: argocd.svg
            - Registry:
                href: https://registry.west-beta.ts.net
                description: Container registry
                icon: docker.svg
            - Grafana:
                href: https://grafana.west-beta.ts.net
                description: Observability dashboards
                icon: grafana.svg
          - Utilities:
            - Excalidraw:
                href: https://draw.west-beta.ts.net
                description: Virtual whiteboard
                icon: excalidraw.svg
            - Speedtest:
                href: https://speedtest.west-beta.ts.net
                description: Internal network speed test
                icon: openspeedtest.png
        bookmarks.yaml: |
          - Homelab:
            - Documentation:
              - href: https://homelab.west-beta.ts.net
                icon: google-docs.svg
            - Public homelab repository:
              - href: https://github.com/east4ming/homelab2
                icon: github.svg
          - Managed services:
            - Tailscale:
              - href: https://login.tailscale.com/admin/machines
                icon: tailscale.svg
            - Cloudflare:
              - href: https://dash.cloudflare.com
                icon: cloudflare.svg
            - Terraform Cloud:
              - href: https://app.terraform.io
                icon: terraform.svg
          - Infrastructure:
            - Modem:
              - href: https://192.168.2.1
                icon: huawei.svg
            - Router:
              - href: https://192.168.3.1
                icon: router.svg
            - Crash:
              - href: http://192.168.3.1:9090/ui/yacd/
                icon: clash.png
            - Switch:
              - href: http://192.168.3.254/
                icon: unifi.svg
            - NAS:
              - href: https://nas.west-beta.ts.net:5001
                icon: qnap-alt.svg
