kube-prometheus-stack:
  grafana:
    enabled: false
    forceDeployDatasources: true
    forceDeployDashboards: true
    additionalDataSources:
      - name: Loki
        type: loki
        url: http://loki.loki:3100
  prometheus:
    prometheusSpec:
      ruleSelectorNilUsesHelmValues: false
      serviceMonitorSelectorNilUsesHelmValues: false
      podMonitorSelectorNilUsesHelmValues: false
      probeSelectorNilUsesHelmValues: false
      storageSpec:
        volumeClaimTemplate:
          spec:
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 30Gi
    ingress:
      enabled: true
      ingressClassName: tailscale
      hosts:
        - prometheus.west-beta.ts.net
      paths:
        - /
      pathType: Prefix
      tls:
        - hosts:
            - prometheus.west-beta.ts.net
  alertmanager:
    alertmanagerSpec:
      containers:
        - name: ntfy-relay
          image: ghcr.io/khuedoan/webhook-transformer:v0.0.3
          args:
            - --port=8081
            - --config=/config/alertmanager-to-ntfy.jsonnet
            - --upstream-host=https://ntfy.sh
          envFrom:
            - secretRef:
                name: webhook-transformer
          volumeMounts:
            - name: config
              mountPath: /config
      volumes:
        - name: config
          configMap:
            name: webhook-transformer
      storage:
        volumeClaimTemplate:
          spec:
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 10Mi
    config:
      route:
        receiver: ntfy
        group_by:
          - namespace
        group_wait: 30s
        group_interval: 5m
        repeat_interval: 12h
        routes:
          - receiver: ntfy
            matchers:
              - alertname = "Watchdog"
      receivers:
        - name: ntfy
          webhook_configs:
            - url: http://localhost:8081
              send_resolved: true
    ingress:
      enabled: true
      ingressClassName: tailscale
      hosts:
        - alertmanager.west-beta.ts.net
      paths:
        - /
      pathType: Prefix
      tls:
        - hosts:
            - alertmanager.west-beta.ts.net
