zot:
  ingress:
    enabled: true
    className: tailscale
    hosts:
      - host: &host registry.west-beta.ts.net
        paths:
          - path: /
    tls:
      - hosts:
          - *host
  # TODO enable auth
  persistence: true
  pvc:
    create: true
    storage: 10Gi
  strategy:
    type: Recreate
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  mountConfig: true
  configFiles:
    config.json: |-
      {
        "storage": { "rootDirectory": "/var/lib/registry" },
        "http": { "address": "0.0.0.0", "port": "5000" },
        "log": { "level": "info" },
        "extensions": {
          "metrics": {
            "enable": true,
            "prometheus": {
                "path": "/metrics"
            }
          }
        }
      }
