# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.2.0/charts/other/app-template/values.schema.json
app-template:
  defaultPodOptions:
    enableServiceLinks: false
    securityContext:
      fsGroup: 1000
  controllers:
    main:
      containers:
        main:
          image:
            repository: nyanmisaka/jellyfin
            tag: latest
            pullPolicy: Always
          probes:
            liveness:
              enabled: true
            readiness:
              enabled: true
            startup:
              enabled: true
              spec:
                failureThreshold: 30
                periodSeconds: 5
          resources:
            limits:
              memory: 1200Mi
            requests:
              cpu: 64m
              memory: 897Mi
        transmission:
          image:
            repository: lscr.io/linuxserver/transmission
            tag: 4.0.6
          resources:
            limits:
              memory: 177Mi
            requests:
              cpu: 2m
              memory: 10Mi
  service:
    main:
      controller: main
      type: NodePort
      ports:
        http:
          port: 8096
          protocol: HTTP
          primary: true
        transmission:
          port: 9091
          protocol: HTTP
  ingress:
    main:
      enabled: true
      className: tailscale
      annotations:
        tailscale.com/proxy-group: ingress-proxies
      hosts:
        - host: &jellyfinHost jellyfin.west-beta.ts.net
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: main
                port: http
      tls:
        - hosts:
            - *jellyfinHost
  persistence:
    data:
      suffix: data
      accessMode: ReadWriteOnce
      size: 50Gi
      advancedMounts:
        main:
          main:
            - path: /config
              subPath: jellyfin/config
            - path: /media/movies
              subPath: movies
            - path: /media/shows
              subPath: shows
          transmission:
            - path: /config
              subPath: transmission/config
            - path: /downloads
              subPath: transmission/downloads
    dri-devices:
      enabled: true
      type: hostPath
      hostPath: /dev/dri
      advancedMounts:
        main:
          main:
            - path: /dev/dri
              readOnly: false
    anothervideos:
      enabled: true
      type: persistentVolumeClaim
      existingClaim: pvc-nfs-anothervideos
      advancedMounts:
        main:
          main:
            - path: /media/AnotherVideos
              readOnly: false
    thirdvideos:
      enabled: true
      type: persistentVolumeClaim
      existingClaim: pvc-nfs-thirdvideos
      advancedMounts:
        main:
          main:
            - path: /media/ThirdVideos
              readOnly: false
