# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.2.0/charts/other/app-template/values.schema.json
app-template:
  defaultPodOptions:
    enableServiceLinks: true
    securityContext:
      fsGroup: 1000
  controllers:
    main:
      containers:
        main:
          image:
            repository: registry-mirror.e-whisper.com/jellyfin/jellyfin
            tag: 10.8.13
          probes:
            liveness:
              enabled: true
            readiness:
              enabled: true
            startup:
              enabled: true
              spec:
                failureThreshold: 30
                periodSeconds: 5
        transmission:
          image:
            repository: lscr.io/linuxserver/transmission
            tag: 4.0.6
        prowlarr:
          image:
            repository: lscr.io/linuxserver/prowlarr
            tag: 1.27.0
        radarr:
          image:
            repository: lscr.io/linuxserver/radarr
            tag: 5.15.1
        sonarr:
          image:
            repository: lscr.io/linuxserver/sonarr
            tag: 4.0.11
        jellyseerr:
          image:
            repository: registry-mirror.e-whisper.com/fallenbagel/jellyseerr
            tag: 1.7.0
  service:
    main:
      controller: main
      ports:
        http:
          port: 8096
          protocol: HTTP
          primary: true
        transmission:
          port: 9091
          protocol: HTTP
        prowlarr:
          port: 9696
          protocol: HTTP
        radarr:
          port: 7878
          protocol: HTTP
        sonarr:
          port: 8989
          protocol: HTTP
        jellyseerr:
          port: 5055
          protocol: HTTP
  ingress:
    main:
      enabled: true
      className: tailscale
      hosts:
        - host: &jellyfinHost jellyfin.west-beta.ts.net
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: main
                port: http
      tls:
        - hosts:
            - *jellyfinHost
  persistence:
    data:
      accessMode: ReadWriteOnce
      size: 50Gi
      advancedMounts:
        main:
          main:
            - path: /config
              subPath: jellyfin/config
            - path: /media/movies
              subPath: movies
            - path: /media/shows
              subPath: shows
          transmission:
            - path: /config
              subPath: transmission/config
            - path: /downloads
              subPath: transmission/downloads
          prowlarr:
            - path: /config
              subPath: prowlarr/config
          radarr:
            - path: /config
              subPath: radarr/config
            - path: /downloads/complete
              subPath: transmission/downloads/complete
            - path: /movies
              subPath: movies
          sonarr:
            - path: /config
              subPath: sonarr/config
            - path: /downloads/complete
              subPath: transmission/downloads/complete
            - path: /shows
              subPath: shows
          jellyseerr:
            - path: /app/config
              subPath: jellyseerr/config
