# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.2.0/charts/other/app-template/values.schema.json
app-template:
  defaultPodOptions:
    enableServiceLinks: true
  controllers:
    main:
      containers:
        main:
          image:
            repository: ghcr.io/paperless-ngx/paperless-ngx
            tag: 2.20.2
          env:
            PAPERLESS_PORT: 8000
            PAPERLESS_ADMIN_USER: admin
            PAPERLESS_URL: https://paperless.west-beta.ts.net
          envFrom:
            - secret: "{{ .Release.Name }}-secret"
          probes:
            liveness:
              enabled: true
            readiness:
              enabled: true
            startup:
              enabled: true
              spec:
                failureThreshold: 30
                periodSeconds: 5
        redis:
          image:
            repository: docker.io/library/redis
            tag: 8.4.0
  service:
    main:
      controller: main
      ports:
        http:
          port: 8000
          protocol: HTTP
  ingress:
    main:
      enabled: true
      className: tailscale
      annotations:
        tailscale.com/proxy-group: ingress-proxies
      hosts:
        - host: &host paperless.west-beta.ts.net
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: main
                port: http
      tls:
        - hosts:
            - *host
  persistence:
    data:
      suffix: data
      accessMode: ReadWriteOnce
      size: 10Gi
      advancedMounts:
        main:
          main:
            - path: /usr/src/paperless/data
              subPath: data
            - path: /usr/src/paperless/media
              subPath: media
