gitea:
  strategy:
    type: Recreate
  # default clusterIP is None
  service:
    http:
      clusterIP: ""
    ssh:
      clusterIP: ""
  ingress:
    enabled: true
    className: tailscale
    annotations:
      tailscale.com/experimental-forward-cluster-traffic-via-ingress: "true"
    hosts:
      - host: &host git.west-beta.ts.net
        paths:
          - path: /
            pathType: Prefix
    tls:
      - hosts:
          - *host
  gitea:
    admin:
      existingSecret: gitea-admin-secret
    config:
      server:
        LANDING_PAGE: explore
        ROOT_URL: https://git.west-beta.ts.net
        OFFLINE_MODE: true
      repository:
        DISABLED_REPO_UNITS: repo.wiki,repo.projects,repo.packages
        DISABLE_STARS: true
        DEFAULT_BRANCH: master
      # TODO it's not reading the username from Dex correctly for now, related issues:
      # https://github.com/go-gitea/gitea/issues/25725
      # https://github.com/go-gitea/gitea/issues/24957
      # oauth2_client:
      #   ENABLE_AUTO_REGISTRATION: true
      #   USERNAME: userid
      service.explore:
        DISABLE_USERS_PAGE: true
      actions:
        ENABLED: false
      webhook:
        ALLOWED_HOST_LIST: private
      migrations:
        ALLOWED_DOMAINS: ""
        ALLOW_LOCALNETWORKS: true
        BLOCKED_DOMAINS: ""
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
