# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.1.2/charts/other/app-template/values.schema.json
app-template:
  defaultPodOptions:
    enableServiceLinks: false
  controllers:
    searxng:
      containers:
        searxng:
          image:
            repository: docker.io/searxng/searxng
            tag: latest
          env:
            - name: SEARXNG_BASE_URL
              value: "https://searxng.west-beta.ts.net"
            - name: UWSGI_WORKERS
              value: "4"
            - name: UWSGI_THREADS
              value: "4"
    caddy:
      containers:
        caddy:
          image:
            repository: docker.io/library/caddy
            tag: 2-alpine
          env:
            - name: SEARXNG_HOSTNAME
              value: "http://searxng.west-beta.ts.net"
    valkey:
      containers:
        valkey:
          image:
            repository: docker.io/valkey/valkey
            tag: 9-alpine
          command:
            - valkey-server
            - --save
            - "30 1"
            - --loglevel
            - warning

  service:
    searxng:
      controller: searxng
      ports:
        http:
          port: 8080
          protocol: TCP
    caddy:
      controller: caddy
      ports:
        http:
          port: 80
          protocol: TCP
    valkey:
      controller: valkey
      ports:
        valkey:
          port: 6379
          protocol: TCP
  ingress:
    caddy:
      enabled: true
      className: tailscale
      annotations:
        tailscale.com/proxy-group: ingress-proxies
      hosts:
        - host: &host searxng.west-beta.ts.net
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: caddy
                port: http
      tls:
        - hosts:
            - *host

  configMaps:
    caddy:
      data:
        Caddyfile: |-
          {
            admin off
            auto_https off

            log {
              output stderr
              format filter {
                # Preserves first 8 bits from IPv4 and 32 bits from IPv6
                request>remote_ip ip_mask 8 32
                request>client_ip ip_mask 8 32

                # Remove identificable information
                request>remote_port delete
                request>headers delete
                request>uri query {
                  delete url
                  delete h
                  delete q
                }
              }
            }

            servers {
              client_ip_headers X-Forwarded-For X-Real-IP

              # Allow the following IP to passthrough the "X-Forwarded-*" headers to SearXNG
              # https://caddyserver.com/docs/caddyfile/options#trusted-proxies
              trusted_proxies static private_ranges
              trusted_proxies_strict
            }
          }

          {$SEARXNG_HOSTNAME}

          encode zstd gzip

          @api {
            path /config
            path /healthz
            path /stats/errors
            path /stats/checker
          }

          @search {
            path /search
          }

          @imageproxy {
            path /image_proxy
          }

          @static {
            path /static/*
          }

          header {
            # CSP (https://content-security-policy.com)
            Content-Security-Policy "upgrade-insecure-requests; default-src 'none'; script-src 'self'; style-src 'self' 'unsafe-inline'; form-action 'self' https:; font-src 'self'; frame-ancestors 'self'; base-uri 'self'; connect-src 'self'; img-src * data:; frame-src https:;"

            # Disable some browser features
            Permissions-Policy "accelerometer=(),camera=(),geolocation=(),gyroscope=(),magnetometer=(),microphone=(),payment=(),usb=()"

            # Set referrer policy
            Referrer-Policy "no-referrer"

            # Force clients to use HTTPS
            Strict-Transport-Security "max-age=31536000"

            # Prevent MIME type sniffing from the declared Content-Type
            X-Content-Type-Options "nosniff"

            # X-Robots-Tag (comment to allow site indexing)
            X-Robots-Tag "noindex, noarchive, nofollow"

            # Remove "Server" header
            -Server
          }

          header @api {
            Access-Control-Allow-Methods "GET, OPTIONS"
            Access-Control-Allow-Origin "*"
          }

          route {
            # Cache policy
            header Cache-Control "max-age=0, no-store"
            header @search Cache-Control "max-age=5, private"
            header @imageproxy Cache-Control "max-age=604800, public"
            header @static Cache-Control "max-age=31536000, public, immutable"
          }

          # SearXNG
          reverse_proxy searxng:8080 {
            # https://github.com/searx/searx-docker/issues/24
            header_up Connection "close"
          }
    searxng:
      data:
        settings.yml: |-
          # see https://docs.searxng.org/admin/settings/settings.html#settings-use-default-settings
          use_default_settings: true
          server:
            # base_url is defined in the SEARXNG_BASE_URL environment variable, see .env and docker-compose.yml
            secret_key: "wzFlR3prUlrLQo6W" # change this!
            limiter: false # enable this when running the instance for a public usage on the internet
            image_proxy: true
          ui:
            static_use_hash: true
          redis:
            url: redis://searxng-valkey:6379/0
          search:
            formats:
              - html
              - json
        limiter.toml: |-
          # This configuration file updates the default configuration file
          # See https://github.com/searxng/searxng/blob/master/searx/limiter.toml

          [botdetection.ip_limit]
          # activate advanced bot protection
          # enable this when running the instance for a public usage on the internet
          link_token = false

  persistence:
    searxng-config:
      type: configMap
      name: searxng
      advancedMounts:
        searxng:
          searxng:
            - path: /etc/searxng/settings.yml
              readOnly: false
              subPath: settings.yml
            - path: /etc/searxng/limiter.toml
              readOnly: false
              subPath: limiter.toml
    searxng-data:
      type: emptyDir
      advancedMounts:
        searxng:
          searxng:
            - path: /var/cache/searxng
    caddyfile:
      type: configMap
      identifier: caddy
      advancedMounts:
        caddy:
          caddy:
            - path: /etc/caddy
    caddy-data:
      type: emptyDir
      advancedMounts:
        caddy:
          caddy:
            - path: /data
    caddy-config:
      type: emptyDir
      advancedMounts:
        caddy:
          caddy:
            - path: /config
    valkey-data:
      type: emptyDir
      advancedMounts:
        valkey:
          valkey:
            - path: /data
