k3s_version: v1.34.3+k3s1
k3s_config_file: /etc/rancher/k3s/config.yaml
k3s_token_file: /etc/rancher/node/password
k3s_service_file: /etc/systemd/system/k3s.service
k3s_data_dir: /var/lib/rancher/k3s
k3s_kubeconfig_file: /etc/rancher/k3s/k3s.yaml
k3s_server_config:
  tls-san:
    - "{{ control_plane_endpoint }}"
  disable:
    - local-storage
    - servicelb
    - traefik
  disable-helm-controller: true
  disable-kube-proxy: true
  disable-network-policy: true
  disable-cloud-controller: true
  flannel-backend: none
  secrets-encryption: true
  embedded-registry: true
  etcd-expose-metrics: true
  kube-controller-manager-arg:
    - "bind-address=0.0.0.0"
  kube-scheduler-arg:
    - "bind-address=0.0.0.0"
  etcd-arg:
    - "heartbeat-interval=200"
    - "election-timeout=2000"
  # TODO:
  # if truely needed
  advertise-address: "{{ control_plane_endpoint }}"
  etcd-s3: "{{ etcd_s3 | default(false) }}"
  etcd-s3-config-secret: k3s-etcd-snapshot-s3-config
k3s_agent_config:
  node-external-ip: "{{ tailscale_ipv4 }}"
